OUTPUT_LOCAL_DIR=/opt/nexrad-luts
# OUTPUT_MINIO_URL=s3://nexrad-luts/
# MINIO_ENDPOINT_URL=http://minio:9000
# MINIO_ACCESS_KEY=minioadmin
# MINIO_SECRET_KEY=minioadmin
# MINIO_REGION=us-east-1
LOG_LEVEL=INFO
